h1 {
  font-size: 2rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.8rem;
}

.option {
  margin-right: 30px;
}

.flag {
  width: 80px;
  height: 100px;
}

.book-card {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#inputName {
  width: 80%;
}
.data {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iadd {
  color: #26a69a;
  cursor: pointer;
}
.iremove {
  color: red;
  cursor: pointer;
}
.icon {
  margin-right: 5px;
  text-align: right;
  align-self: flex-end;
  width: 100px;
  height: auto;
}
.language {
  font-size: 0.8rem;
}
